footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--green2);
  color: var(--white);
  padding: 1rem;
  font-size: 1.2rem;
}

footer p {
  text-align: center;
}

.footer-right {
  display: flex;
}

.footer-right a {
  width: 3rem;
  margin: 1rem;
}  


@media (min-width: 1280px) {

  footer {
    display: grid;
    grid-template-columns: 25rem minmax(auto, 150rem);
    justify-content: center;
    padding: 2rem 4rem;
  }

  .footer-left {
    justify-self: start;
  }
  
  .footer-right {
    justify-self: end;
  }

  footer p {
    font-size: 1.5rem;
    text-align: left;
  }
}