.nav-bar {
  position: fixed;
  top:0;
  left:0;
  right:0;
  display: grid;
  grid-template-columns: 15rem minmax(auto, 150rem);
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  background-color: var(--green1);
  z-index: 2;
}

.menu {
  justify-self: end;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu a {
  transition: font-weight 0.5s;
}

.menu a:visited {
  color: var(--gray3);
}

.menu a:hover {
  font-weight: bold;
}

.login-button {
  font-weight: bold;
  transition: box-shadow 0.5s;
}

.register-button {
  font-weight: bold;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 0.8rem;
  transition: box-shadow 0.5s;
}

.login-button:hover, .register-button:hover {
  box-shadow: 2px 2px 5px rgba(155, 154, 154, 0.25);
}

/* Menu Button */

.menu-button-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 3.2rem;
  cursor: pointer;
  justify-self: end;
}

#menu-toggle {
  display: none;
}

/* Hamburger Button */

.hamburger-button,
.hamburger-button::before,
.hamburger-button::after {
  display: block;
  position: absolute;
  width: 3.2rem;
  height: 0.4rem;
  border-radius: 0.2rem;
  background-color: var(--gray3);
  transition: transform 0.4s ease-in-out;
}

.hamburger-button::before {
  content: "";
  margin-top: -1rem;
}

.hamburger-button::after {
  content: "";
  margin-top: 1rem;
}

#menu-toggle:checked + .menu-button-container .hamburger-button::before {
  margin-top: 0;
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button-container .hamburger-button {
  background: rgba(256, 256, 256, 0);
}

#menu-toggle:checked + .menu-button-container .hamburger-button::after {
  margin-top: 0;
  transform: rotate(-45deg);
} 

@media (max-width: 950px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 7.8rem;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index:100;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  #menu-toggle:checked ~ .menu li {
    height: 3.5rem;
    padding: 0.5rem;
    transition: height 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  .menu > li {
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--gray3);
    background-color: var(--white);
    }

    .register-button {
      box-shadow: none;
  }
}